<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/dorothykbrown" target="blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/dorothy-brown/" target="blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
