<!-- Modal -->
<div class="modal fade" id="Modal-Pier57" tabindex="-1" role="dialog" aria-labelledby="Modal-Pier57Title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Modal-Pier57Title">Pier 57</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159626/Pier57.png" alt="Pier 57" style="width: 100%;">
        <ul>
          <li>Structural modeling of the proposed scheme to design new steel members and analyze the impact on the existing structure.</li>
          <li>Identifying areas where existing steel members and existing structural slab would need to be reinforced</li>
          <li>Design of a two-story rooftop pavilion for gravity and lateral loads, including the design of a custom spandrel beam to support the channel glass and nana-wall facade</li>
          <li>Design of an above ground ConEdison Vault structure for blast loading and preparation of the associated calculation package</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
