<!-- Modal -->
<div class="modal fade" id="Modal-PASyn" tabindex="-1" role="dialog" aria-labelledby="Modal-PASynTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Modal-PASynTitle">Park Avenue Synagogue</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159626/ParkAveSyn.png" alt="Park Avenue Synagogue" style="width: 100%;">
        <p>Architect: Murphy Burnham and Buttrick Architects</p>
        <p>My Role:</p>
        <ul>
          <li>Determined design loads - dead, live, snow and wind - per the NYC Building Code</li>
          <li>Prepared probe documents where information on existing structural conditions was needed</li>
          <li>Visited the site to document dimensions and spacing of existing beams and columns</li>
          <li>Designed a new steel-framed two-story bulkhead for gravity and lateral loads per the NYC Building Code and AISC manual using RISA 3-D</li>
          <li>Modeled existing structure with updated loads and modifications per the proposed design in RISA 3-D to determine where reinforcement was required</li>
          <li>Analyzed existing steel, full-story Vierendeel trusses to determine the where reinforcement was required and designing the associated reinforcement</li>
          <li>Worked with architect to create a detailed load map to document all of the different dead and live load conditions throughout the building for accurate modeling, analysis and design of the building</li>
          <li>Maintained ongoing coordination with the architect</li>
        </ul>
        <a href="https://www.mbbarch.com/work/park-avenue-synagogue" target="blank">Visit Architect Website</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
