<!-- Modal -->
<div class="modal fade" id="Modal-EFL" tabindex="-1" role="dialog" aria-labelledby="Modal-EFLTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Modal-EFLTitle">East Flatbush Library</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159628/EastFlatbush.png" alt="East Flatbush Library" style="width: 100%;">
        <ul>
          <li>Analyzed existing structural members to remain per NYC Building Code Chapter 16</li>
          <li>Designed new steel and wood members per AISC and NDS  specifications</li>
          <li>Designed wood framing for a custom skylight support structure for gravity and lateral loads</li>
          <li>Coordinated efforts with the architect and the DDC</li>
          <li>Prepared a structural drawing set and a calculation package for submission to the DDC</li>
          <li>Visited the site to document dimensions and spacing of existing beams and columns and to determine the build-up of existing 1st floor</li>
          <li>Reviewed and responding to requests for information and submittals during the construction administration project phase</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
