<!-- Modal -->
<div class="modal fade" id="Modal-Pier57" tabindex="-1" aria-labelledby="Modal-Pier57Title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Modal-Pier57Title">Pier 57</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159626/Pier57.png" alt="Pier 57" style="width: 100%;">
        <p>Architect: Handel Architects</p>
        <p>My Role:</p>
        <ul>
          <li>Designed new steel members and analyzed the impact on the existing structure via structural modeling with RAM Structural Systems</li>
          <li>Designed reinforcement for areas where existing steel members and structural slab would need to be reinforced for new loads and configuration</li>
          <li>Designed a two-story rooftop pavilion for gravity and lateral loads, including the design of a custom spandrel beam to support the channel glass and nana-wall facade</li>
          <li>Designed an above ground ConEdison Vault structure for blast loading and preparation of the associated calculation package</li>
        </ul>
        <a href="https://handelarchitects.com/project/pier-57" target="blank">Visit Architect Website</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
