<!-- Modal -->
<div class="modal fade" id="Modal-Freiheit" tabindex="-1" role="dialog" aria-labelledby="freiheit-ModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="freiheit-ModalTitle">freiheit.com</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Stack: Golang</p>
        <ul>
          <li>Implemented new features with limited supervision, asking for support as needed
          </li>
          <li>Coordinated with client to clarify details of new features to be implemented and to review code developed to ensure it met the requirements of the user story</li>
          <li>Created unit tests for each new feature</li>
        </ul>
        <a href="https://freiheit.com/de/" target="blank">Visit Company Website</a>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
