<!-- Modal -->
<div class="modal fade" id="Modal-Advertio" tabindex="-1" role="dialog" aria-labelledby="advertio-ModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="advertio-ModalTitle">Advertio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Stack: Python, Django, GraphQL, HTML, PostgreSQL</p>
        <ul>
          <li>Implemented new backend features for an online ad creation and management platform
          </li>
          <li>Used Bing, Facebook and Google Adwords APIs to integrate Ad reporting features with the application</li>
        </ul>
        <a href="https://www.advertio.com/" target="blank">Visit Company Website</a>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
