<!-- Modal -->
<div class="modal fade" id="Modal-41W76" tabindex="-1" aria-labelledby="Modal-41W76Title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Modal-41W76Title">76th Street Residence</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159625/41W76St.png" alt="76th Street Residence" style="width: 100%;">
        <p>Architect: RAAD Studio</p>
        <p>My Role:</p>
        <ul>
          <li>Determined the loads - dead and live - per NYC Building Code Chapter 16</li>
          <li>Designed steel members per AISC manual</li>
          <li>Designed three custom steel bent-plate staircases using RISA 3-D and AISC manual and ASD load combinations</li>
          <li>Selected cold-formed steel joists for floor framing</li>
          <li>Reviewed steel shop drawings</li>
          <li>Visited the site to observe field conditions and respond to contractor's concerns</li>
        </ul>
        <a href="http://raadstudio.com/project/central-park-west/" target="blank">Visit Architect Website</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
