<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Park Avenue South</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img class="large-photo" src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159626/ParkAveSouth.png" alt="Park Avenue South" style="width: 100%;">
        <p>Architect: Rogers Partners Architects</p>
        <p>My Role:</p>
        <ul>
          <li>Determined the loads - dead and live - per NYC Building Code Chapter 16</li>
          <li>Modeled existing structure with updated loads and modifications per the proposed design in RAM Structural Systems</li>
          <li>Designed new structural members and reinforcement for existing members as needed for gravity and lateral loads</li>
          <li>Coordinated with architect from Schematic Design through 100% Construction Document project phases</li>
          <li>Visited the site to document existing structural conditions</li>
        </ul>
        <a href="https://www.rogersarchitects.com/287-park-avenue-south/" target="blank">Visit Architect Website</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
