<div class="col-md-12 example-title">
    <h2>About Me</h2>
</div>
<div class="cont-about">

  <div class="container">
    <p>Junior full-stack software developer looking for an opportunity to join a company where I can tackle challenging problems, develop creative solutions and grow as a developer. I am fuelled by a desire to solve challenging problems, to innovate and to use my skills to make the world a better place.</p>

    <p>I am a structural engineer by training and am interested in the design of sustainable structures. After working as a structural engineer in New York City for 4 years, in March 2019, I decided to pursue a career in the tech field. I am now based in Lisbon and am looking forward to my first job opportunity working as a full-stack developer.</p>

  </div>
</div>

<div class="col-md-12 example-title">
    <h2>Skills</h2>
    <div class="skill-grid">
      <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561389364/006-ruby_chung7.png" alt="Ruby">
      <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561389035/rails_logo_opqd62.png" alt="Ruby On Rails">
      <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561389364/001-javascript_pwdmxn.png" alt="JavaScript">
      <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561389037/Bootstrap_Icon_ej1hif.png" alt="Bootstrap">
      <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561389364/002-css_som23l.png" alt="CSS">
      <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561389364/005-sass_hzuvmw.png" alt="Sass">
      <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561389364/003-html-5_j0xxpm.png" alt="HTML">
      <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561389364/004-github_h7q7lk.png" alt="GitHub">
      <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561389034/icon_git_z08two.png" alt="Git">
      <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561389034/Heroku_Icon_xhttxb.png" alt="Heroku">
    </div>
</div>
