<!DOCTYPE html>
<p>I am fuelled by a desire to solve challenging problems, to innovate and to use my skills to make the world a better place.

I am a structural engineer by training and am interested in the design of sustainable structures. After working as a structural engineer in New York City for 4 years, in March 2019, I decided to pursue a career in the tech field. I am now based in Lisbon and am looking forward to my first job opportunity working as a full-stack developer.

Junior full-stack software developer looking for an opportunity to join a company where I can tackle challenging problems, develop creative solutions and grow as a developer.  </p>
