<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://github.com/dorothykbrown/DB_Portfolio/blob/master/app/assets/images/20170513_183334.jpg);">
  <div class="container">
    <h1><strong>Dorothy Kamilah Brown</strong></h1>
    <h2>Full Stack Developer</h2>
  </div>
</div>


