<!-- Banner -->
<div class="banner">
  <div class="container">
    <h2><%= render 'shared/quote-carousel' %></h2>
  </div>
</div>

<!-- About -->
<div class="about" id="about">
  <div class="col-md-12 example-title">
      <h2>About Me</h2>
  </div>
  <div class="cont-about">

    <div class="container">
      <div class="icon">
        <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561473512/undraw_software_engineer_lvl5_vd7ilw.png" alt="Software Engineer">
      </div>

      <p>Full-stack software developer looking for an opportunity to join a company where I can tackle challenging problems, develop creative solutions and grow as a developer. I am fuelled by a desire to solve challenging problems, to innovate and to use my skills to make the world a better place.</p>

      <div class="icon">
        <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561474270/undraw_QA_engineers_dg5p_olxuor.png" alt="Engineer">
      </div>

      <p>I am a structural engineer by training and am interested in the design of sustainable structures. After working as a structural engineer in New York City for 4 years, in March 2019, I decided to pursue a career in the tech field. I am now based in Lisbon and am looking forward to a new opportunity working as a full-stack developer.</p>

    </div>
  </div>

  <div class="col-md-12 example-title">
    <h2>Skills</h2>
  </div>
  <div class="skill-grid">
    <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1580512684/Ruby_xdfblo.png" alt="Ruby">
    <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1580513007/Rails_Logo_w8pxtx.png" alt="Ruby On Rails">
    <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1580512891/JS_Icon_Circle_zr8fdr.svg" alt="JavaScript">
    <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561389037/Bootstrap_Icon_ej1hif.png" alt="Bootstrap">
    <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1580512178/CSS_icon_xpvyjl.svg" alt="CSS">
    <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1580512598/Sass_Circle_ahmvzd.png" alt="Sass">
    <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1580512336/HTML5_kconja.svg" alt="HTML">
    <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1580512759/github-cat-in-a-circle_318-41747_koak09.jpg" alt="GitHub">
    <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561389034/icon_git_z08two.png" alt="Git">
    <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561389034/Heroku_Icon_xhttxb.png" alt="Heroku">
    <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1580513088/cloudinary_icon_djx8qc.png" alt="Cloudinary">
    <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1580512038/go-programming-language_aenlnc.png" alt="Golang">
    <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1580512045/kubernetes_1_tsmo2i.svg" alt="Kubernetes">
    <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1580511552/docker_krouqg.png" alt="Docker">
    <img src="https://res.cloudinary.com/dkqk3hnm6/image/upload/v1580511552/python_fqruxn.png" alt="Python">
  </div>
</div>

<!-- Featured Projects -->
<div class="projects" id="projects">
  <div class="col-md-12 example-title">
      <h2>Featured Projects</h2>
  </div>

  <ul id="project-type-selector" class="list-inline tabs-underlined">



  <div class="container filter-items">

    <input class="card-filters filter-item" type="radio" id="all" name="color"/>
    <label for="all">All</label>
    <input class="card-filters filter-item"type="radio" id="structural" name="color" />
    <label for="structural">Structural</label>
    <input class="card-filters filter-item" type="radio" id="developer" name="color"/>
    <label for="developer">Developer</label>

      <div class="tile structural filter-item">
        <div class="flip-card structural filter-item" data-category="structural">
          <div class="flip-card-inner structural">
            <div class="card-project structural" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159628/EastFlatbush.png)">
            </div>
            <div class="card-info structural">
              <h4>East Flatbush Library</h4>
              <p>Complete renovation of an existing library building that once completed will create a bright, central patron area full of natural light in addition to an innovative façade.
              </p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal-EFL">
                More Information
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="tile structural filter-item">
        <div class="flip-card structural filter-item" data-category="structural">
          <div class="flip-card-inner structural">
            <div class="card-project structural" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159626/ParkAveSyn.png)">
            </div>
            <div class="card-info structural">
              <h4>Park Avenue Synagogue</h4>
              <p>Renovation of the iconic Park Avenue Synagogue including the removal of about 70% of the 4th floor slab and the re-support of the columns above.
              </p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal-PASyn">
                More Information
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="tile structural filter-item">
        <div class="flip-card structural filter-item" data-category="structural">
          <div class="flip-card-inner structural">
            <div class="card-project structural" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159626/Pier57.png)">
            </div>
            <div class="card-info structural">
              <h4>Pier 57</h4>
              <p>Conversion of historic shipping terminal listed on State and National Registers into a retail, arts and entertainment, office and public park complex.</p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal-Pier57">
                More Information
              </button>
            </div>
          </div>
        </div>
      </div>



      <div class="tile developer filter-item">
        <div class="flip-card developer filter-item" data-category="developer">
          <div class="flip-card-inner developer">
            <div class="card-project developer" id="special-card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1580513310/freiheit_com_logo_b8orvo.svg)">
            </div>
            <div class="card-info developer">
              <h4>freiheit.com</h4>
              <p>Developed microservices for an in-car entertainment system in Golang.</p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal-Freiheit">
                More Information
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="tile developer filter-item">
        <div class="flip-card developer filter-item" data-category="developer">
          <div class="flip-card-inner developer">
            <div class="card-project developer" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159627/WhimAway.png)">
            </div>
            <div class="card-info developer">
              <h4>WhimAway</h4>
              <p>Developed a responsive clone of AirBnb allowing users to rent Whimsical properties--Castles, Treehouses, Sailboats</p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal-Whim">
                More Information
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="tile developer filter-item">
        <div class="flip-card developer filter-item" data-category="developer">
          <div class="flip-card-inner developer">
            <div class="card-project developer" id="special-card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159626/InstaItinerary.png)">
            </div>
            <div class="card-info developer">
              <h4>InstaItinerary</h4>
              <p>Developed a responsive web app that generates an itinerary of events based on user preferences and amount of time they have available.</p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Insta-Modal">
                More Information
              </button>
            </div>
          </div>
        </div>
      </div>



      <div class="tile structural filter-item">
        <div class="flip-card structural filter-item" data-category="structural">
          <div class="flip-card-inner structural">
            <div class="card-project structural" id="special-card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159626/ParkAveSouth.png)">
            </div>
            <div class="card-info structural">
              <h4>Park Avenue South</h4>
              <p>Silman was involved in the design to transform the former United Charities Building, an existing 9-story structure into an 18-story commercial and residential building.</p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                More Information
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="tile structural filter-item">
        <div class="flip-card structural filter-item" data-category="structural">
          <div class="flip-card-inner structural">
            <div class="card-project structural" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159625/475TenthAve.png)">
            </div>
            <div class="card-info structural">
              <h4>475 10th Avenue</h4>
              <p>Fit-out of the twelfth and thirteenth floors of an existing building for office space including the addition of 50-ft long interior bridge.
              </p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal-475_10thAve">
                More Information
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="tile structural filter-item">
        <div class="flip-card structural filter-item" data-category="structural">
          <div class="flip-card-inner structural">
            <div class="card-project structural" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159625/41W76St.png)">
            </div>
            <div class="card-info structural">
              <h4>West 76th Street</h4>
              <p>Silman was involved in a gut-renovation of a townhouse residence including the design of 5 different stair types to connect the interior and new rooftop green spaces.
              </p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal-41W76">
                More Information
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tile developer filter-item">
      <div class="flip-card developer filter-item" data-category="developer">
        <div class="flip-card-inner developer">
          <div class="card-project developer" id="special-card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159626/InstaItinerary.png)">
          </div>
          <div class="card-info developer">
            <h4>Imaginary Cloud</h4>
            <p>Implemented new features for a travel web app using Ruby on Rails.</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal-Imaginary">
              More Information
            </button>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Experience -->
<div class="experience" id="experience">
  <script src="https://use.typekit.net/bkt6ydm.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <div class="container-fluid">
      <div class="row example-centered">
          <div class="col-md-12 example-title">
              <h2>Experience</h2>
          </div>
          <div class="col-xs-8 col-sm-12">
              <ul class="timeline timeline-centered">
                <li class="timeline-item">
                      <div class="timeline-info">
                          <span>March 2020 - Present</span>
                      </div>
                      <div class="timeline-marker"></div>
                      <div class="timeline-content">
                          <h3 class="timeline-title">Imaginary Cloud, Lisbon</h3>
                          <p><em>Software Developer</em></p>
                          <p>Implemented new features for a travel web application in Ruby on Rails, including an integration with Salesforce</p>
                      </div>
                </li>
                <li class="timeline-item">
                      <div class="timeline-info">
                          <span>September 2019 - Present</span>
                      </div>
                      <div class="timeline-marker"></div>
                      <div class="timeline-content">
                          <h3 class="timeline-title">freiheit.com, Lisbon</h3>
                          <p><em>Software Engineer</em></p>
                          <p>Developed microservices for an in-car entertainment system in Golang</p>
                      </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>April 2019 - June 2019</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Le Wagon, Lisbon</h3>
                        <p><em>Student</em></p>
                        <p>9-week intensive coding boot camp teaching HTML, CSS, Bootstrap, JavaScript ES2015, SQL, git, GitHub, Heroku and Ruby on Rails</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>January 2015 - March 2019</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Silman</h3>
                        <p><em>Project Engineer</em></p>
                        <p>Prepared structural calculations, created and analyzed structural models, prepared structural drawings and coordinated with architects and other members of the design team through schematic, design, construction document and construction administration project phases. </p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>February 2014 - November 2014</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Fulbright U.S. Student Program</h3>
                        <p><em>Research Fellow</em></p>
                        <p>Studied the use of non-conventional materials in sustainable construction under the supervision of Prof. Khosrow Ghavami.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>February 2013 - January 2014</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Sunoco Logistics</h3>
                        <h6> (now Energy Transfer Partners)</h6>
                        <p><em>Pipeline Operations Engineer</em></p>
                        <p>Worked with members across all departments to optimize pipeline performance, increasing throughput while decreasing the occurrences of unscheduled shutdowns.</p>
                    </div>
                </li>
                <li class="timeline-item">
                  <div class="timeline-info">
                      <span>September 2010 - August 2012</span>
                  </div>
                  <div class="timeline-marker"></div>
                  <div class="timeline-content">
                      <h3 class="timeline-title">Massachusetts Institute of Technology</h3>
                      <h6>Masters of Science in Civil and Environmental Engineering</h6>
                      <p><em>Student</em></p>
                      <p>Thesis: Unprocessed rice husk ash as a partial replacement of cement for low-cost concrete</p>
                  </div>
                </li>
                <li class="timeline-item">
                  <div class="timeline-info">
                      <span>June 2006 - June 2010</span>
                  </div>
                  <div class="timeline-marker"></div>
                  <div class="timeline-content">
                      <h3 class="timeline-title">Massachusetts Institute of Technology</h3>
                      <h6>Bachelor of Science in Civil Engineering</h6>
                      <p><em>Student</em></p>
                  </div>
                </li>
              </ul>
          </div>
      </div>
</div>

</div>
