<div class="col-md-12 example-title">
    <h2>Featured Projects</h2>
</div>
<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">All</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Structural</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Developer</a>
  </li>
</ul>

<div class="container">
  <div class="cards-1">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="card-project structural" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159628/EastFlatbush.png)">
        </div>
        <div class="card-info">
          <h4>East Flatbush Library</h4>
          <p>Complete renovation of an existing library building that once completed will create a bright, central patron area full of natural light in addition to an innovative façade.
          </p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="card-project structural" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159626/ParkAveSyn.png)">
        </div>
        <div class="card-info">
          <h4>Park Avenue Synagogue</h4>
          <p>Renovation of the iconic Park Avenue Synagogue. The renovation included the removal of about 70% of the 4th floor slab and required the re-support of the columns above.
          </p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="card-project structural" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159626/Pier57.png)">
        </div>
        <div class="card-info">
          <h4>Pier 57</h4>
          <p>Conversion of historic shipping terminal listed on State and National Registers into a retail, arts and entertainment, office and public park complex. The interior will feature a market with shops and cafes.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="cards-2">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="card-project developer" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159627/WhimAway.png)">
        </div>
        <div class="card-info">
          <h4>WhimAway</h4>
          <p>Developed a responsive clone of AirBnb allowing users to rent Whimsical properties--Castles, Treehouses, Sailboats</p>
          <ul>
            <li>Stack: Ruby on Rails, CSS, HTML, JavaScript</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="card-project developer" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159626/InstaItinerary.png)">
        </div>
        <div class="card-info">
          <h4>InstaItinerary</h4>
          <p>Developed a responsive web app that generates an itinerary of events based on user preferences and amount of time they have available.</p>
          <ul>
            <li>Stack: Ruby on Rails, CSS, HTML, JavaScript</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="cards-1">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="card-project structural" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159626/ParkAveSouth.png)">
        </div>
        <div class="card-info">
          <h4>Park Avenue South</h4>
          <p>Silman was involved in the design to transform the former United Charities Building, an existing 9-story structure into an 18-story commercial and residential building.</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="card-project structural" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159625/475TenthAve.png)">
        </div>
        <div class="card-info">
          <h4>475 10th Avenue</h4>
          <p>Fit-out of the twelfth and thirteenth floors of an existing building for office space including the addition of 50-ft long interior bridge.
          </p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="card-project structural" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1561159625/41W76St.png)">
        </div>
        <div class="card-info">
          <h4>West 76th Street</h4>
          <p>Gut renovation of a townhouse residence. Silman was involved in the design of the new interior structure including the design of 5 different stair types to connect the interior and new rooftop green spaces.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
