.banner{
  width: 400;
  height: 1000;
  crop: fill;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1560791005/DKB%20Cuba%20-%20Trinidad.jpg);

  .container{
    height: 100%;
  }
}
