.banner{
  height: 600px;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dkqk3hnm6/image/upload/v1560791005/DKB%20Cuba%20-%20Trinidad.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;

  .container{
    height: 100%;
    text-align: right;
  }

  h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  }

  p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}




