.card-project {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 180px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 280px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.card-project, .card-info {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card-project {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.card-info {
  h4 {
    padding-top: 5px;
  }
  background-color: #98B6BF;
  color: white;
  transform: rotateY(180deg);
  border-radius: 5px;
}
