.navbar {
  justify-content: space-between;
  background: white;
  // position: sticky;
  // top: 0;
  // z-index: 1;
}

.navbar .navbar-collapse {
  flex-grow: 0;

  .navbar-left {
    justify-content: flex-start;
    width: 300px;
  }

  .navbar-center {
    justify-content: center;
    margin: auto;
    //position: absolute;
    //left: 530px;
  }

  .navbar-right {
    justify-content: flex-end;
    width: 300px;
  }
}

.navbar .navbar-brand img {
  width: 40px;
  position: absolute;
  top: 40px;
  left: 530px;
}


